<h1><%= @post.title %></h1>
<p>Posted by <%= @post.author %></p>
<p>on <%= @post.posted_on %></p>
<div>
  <%= @post.content %>
</div>
<%= link_to "New Reply", new_post_reply_path(@post), class: 'btn btn-primary btn-lg active' %>
<hr />
<h2>Replies</h2>
<div>
  <%= render @post.replies %>
</div>
